<div ng-app="PunchApp">
  <div ng-controller="punchCtrl">
  <h1>Listing punches</h1>
  
<script type="text/ng-template" id="punch-group.html">
  <td>{{date}}-{{punches.total}}</td>
  <td ng-repeat="punch in punches">
    <input type="time" class="form-control" name="tm" ng-model="punch" timestamp />
  </td>
</script>
  
    <table class="table table-striped table-bordered table-condensed" ng-init="initPunches();">

      <tr ng-model="punches" punch-group />

    </table>
    
    
  </div>
</div>

<ul>
  <%@punches.each do |punch|%>
    <li><%=punch.time%></li>
  <%end%>
</ul>

