<div ng-app="PunchApp">

  <script type="text/ng-template" id="punches-for-days.html">
    <tr><td>{{punches.length}}</td></tr>
  </script>

  <script type="text/ng-template" id="punches-for-day.html">
    <td>{{punches | toDate}}</td>
    <td ng-repeat="punch in punches">
      <input type="time" class="form-control" ng-model="punch.tm" timestamp />
    </td>
    <td>{{punches | toTotal}}</td>
  </script>

  <div ng-controller="punchCtrl" ng-init="initPunches();">
    <h1>Listing punches</h1>
    
    <table class="table table-striped table-bordered table-condensed" ng-model="punches" punches-for-days>
    </table>
      
  </div>
</div>

<ul>
  <%@punches.each do |punch|%>
    <li><%=punch.time%></li>
  <%end%>
</ul>

