<h2>New payroll</h2>
<hr>

<%= render 'form' %>

<script type="text/javascript">
var anApp = angular.module('anApp', ['ui.bootstrap']);

anApp.controller('DatepickerCtrl', function DatepickerCtrl($scope) {
  $scope.start_date = new Date('<%=@start_date%>');
  $scope.end_date = '<%=@end_date%>';

  $scope.dateOptions = {
    'year-format': 'yy',
    'starting-day': 1
  };
});

</script>
