<p id="notice"><%= notice %></p>
<div ng-app="PayrollApp">
  <div ng-controller="PayrollCtrl">
		<button ng-click="updatePayroll();" class="btn btn-primary">Save</button>
    <table class="table table-striped table-bordered table-condensed" ng-init="initPayroll('<%=@payroll.id%>');">
      <tr>
        <th><button class="btn" ng-click="sortBy('slip', 'num');">No</button></th>
        <th><button class="btn" ng-click="sortBy('slip', 'sin');">SIN</button></th>
        <th><button class="btn" ng-click="sortBy('slip', 'name');">Name</button></th>
				<th><button class="btn" ng-click="sortBy('slip', 'work_hours');">Work_hours</button></th>
        <th><button class="btn" ng-click="sortBy('slip', 'notes');">Notes</button></th>
        <th>Action</th>
      </tr>
      <tr ng-repeat="slip in payroll.slips | orderBy:predicate" ng-class="balanced(slip)">
        <td><a href='#' ng-click='editPunches(slip);'>{{slip.employee.num}}</a></td>
        <td>{{slip.employee.sin}}</td>
        <td>{{slip.employee.name}}</td>
        <td><input type="text" name="notes" ng-model="slip.work_hours" class="form-control" title="{{slip.r_work_hours}}" data-toggle="tooltip"></td>
        <td><input type="text" name="notes" ng-model="slip.notes" class="form-control"></td>
        <td><button class='btn btn-primary' ng-click="removeFromPayroll(slip);">Move Down</button></td>
      </tr>
    </table>
		
    <button class='btn btn-danger'>Cleanup</button>
    <table class="table table-striped table-bordered table-condensed" ng-init="initEmployees('<%=@payroll.start_date%>', '<%=@payroll.end_date%>');">
      <tr">
        <th><button class="btn" ng-click="sortBy('employee', 'num');">No</button></th>
        <th><button class="btn" ng-click="sortBy('employee', 'sin');">SIN</button></th>
        <th><button class="btn" ng-click="sortBy('employee', 'name');">Name</button></th>
        <th><button class="btn" ng-click="sortBy('employee', 'r_work_hours');">Hours</button></th>
        <th>Action</th>
      </tr>
      <tr ng-repeat="employee in employees | orderBy:employeeOrderField" ng-class="employee.class_name()">
        <td>{{employee.num}}</td>
        <td>{{employee.sin}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.r_work_hours}}</td>
        <td><button class='btn btn-primary' ng-click="addToPayroll(employee);">Move Up</button></td>
      </tr>
    </table>
  </div>

    <script type="text/ng-template" id="editPunches.html">
        <div class="modal-header">
            <h3>{{slip.punches.length}}</h3>
        </div>
        <div class="modal-body">
            <table class="table table-striped table-bordered table-condensed">
                <tr ng-repeat="dt in dates">
                    <td>{{ dt.format("YY-MM-DD") }}</td>
                    <td ng-repeat="punch in getPunches(dt)">
                      <div context="menu" idx="{{$index}}">{{$index}}-{{punch}}</div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
        
    <ul id="menu" class="dropdown-menu">
      <li><a ng-click="deletePunch()">Delete</a></li>
      <li><a ng-click="link()">Link</a></li>
      <li><a ng-click="delete()">Delete</a></li>
      <li class="divider"></li>
      <li><a ng-click="properties()">Properties</a></li>
    </ul>
        
    </script>
    
    
</div>