<h1>Listing slips</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @slips.each do |slip| %>
      <tr>
        <td><%= link_to 'Show', payroll_slip_path(@payroll, slip) %></td>
        <td><%= link_to 'Edit', edit_payroll_slip_path(@payroll, slip) %></td>
        <td><%= link_to 'Destroy', [@payroll, slip], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Slip', new_payroll_slip_path(@payroll) %>

